<div data-controller="edit-task" data-edit-task-target="task">
  <div class="card-task-showpage">
    <div data-edit-task-target="infos">
      <h5 class="mt-2 mb-0"><%= task.name.capitalize %></h5>
        <%= cl_image_tag task.users.map { |user| user.photo.key ? user.photo.key : current_user.email }, class: "avatar-tasks" %>
      <p><em><%= task.description %></em></p>
      <p class="category"><%= task.category_list %></p>
      <p class="date mb-0"><%= task.due_date.strftime("%d %B %Y") %></p>
        <%= simple_form_for [@event, task],
        html: {
          class: 'd-none',
          data: {
            edit_task_target: 'form',
            # action: 'submit->edit-task#update'
          },
          method: :patch
        } do |f|
        %>
          <%= f.input :status, collection: [:to_do, :doing, :done], label: false %>
          <br>
          <%= f.submit "move task", class:"task-btn" %>
      <% end %>
      <div class="text-end">
        <%= link_to(event_task_path(@event, task), class: "task", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do%>
          <i class="fa-solid fa-trash fa-sm ml-2 text-end" data-toggle="tooltip" data-placement="top" title="Delete task"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
