<div class="container">
  <h1 class="page-title"><%= @event.name %></h1>
    <%= render 'shared/subnav'  %>
  <div class="tasks">
    <div class="card-task-stat">
      <p>Completed Tasks</p>
      <p><%= @done_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p>Incomplete Tasks</p>
      <p><%= @incomplete_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p>Overdue Tasks</p>
      <p><%= @overdue_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p>Total Tasks</p>
      <p><%= @tasks.count %></p>
    </div>
  </div>
  <div class="kanban">
    <div class="kanban-column">
      <h3 mb-4>To Do</h3>
      <div class="cards-task">
        <% @todo_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3 mb-4>Doing</h3>
      <div class="cards-task">
        <% @doing_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3 mb-4>Done</h3>
      <div class="cards-task">
        <% @done_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="input-container" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTaskLabel" aria-hidden="true">
      <h2>New task</h2>
      <%= simple_form_for [@event, @task] do |f| %>
      <div class="flex-inputs">
        <%= f.input :name %>
      </div>
        <%= f.input :description %>
      <div class="flex-inputs">
        <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
        <%= f.input :due_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
      </div>
      <div class="flex-inputs">
      </div>
        <p class="mb-2">Assignee</p>
        <%= select_tag :user_id, options_from_collection_for_select(@collaborators, 'id', 'first_name' ), label: "Assignee", class:"form-control" %>
        <%= f.button :button, "Add task", class:"btn btn-action" %>
      <% end %>
    </div>
  </div>
</div>
