<div class="container">
  <h1 class="page-title"><%= @event.name %></h1>
  <div class="mb-5">
      <%= render 'shared/subnav'  %>
  <div class="mt-4 d-flex">
    <table class="table">
      <tr class="alt-bg">
      <th class="text-table-std"> # </th>
        <th class="text-table-std"> Name</th>
        <th class="text-table-std"> Amount Spent</th>
        <th class="text-table-category"> Category</th>
      </tr>
      <tbody>
          <tr>
        <% @expenses.each_with_index do |expense, index| %>
        <td class="text-table-std"> <%= index + 1 %></td>
              <td class="text-table-std"><%= expense.name %></td>
              <td class="text-table-std"><%= expense.amount_spent%></td>
              <td class="text-table-category"><%= expense.category_list%></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
        <tr >
          <td class="text-start"><strong > Total Spent:</strong></td>
          <td class="text-start"><strong><%= @total_expenses %></strong> </td>
        </tr>
        </tfoot>
      </table>
    </div>
      <div class="input-container"  class="modal fade" id="addExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addExpenseLabel" aria-hidden="true">
        <h2> Add expense</h2>
          <%= simple_form_for [ @event, @expense] do |f| %>
          <div class="flex-inputs">
            <%= f.input :name %>
            <%= f.input :amount_spent %>
          </div>
          <div class="flex-inputs">
            <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
            <%= f.button :button, "Add Expense", class:"btn-action" %>
          </div>
          <% end %>
    </div>
  </div>
